/* Fonts configs */

@font-face {
    font-family: 'Circular Black';
    src: url('../fonts/circular-black.otf');
}

@font-face {
    font-family: 'Circular Bold';
    src: url('../fonts/circular-bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Circular Book';
    src: url('../fonts/circular-book.otf');
    font-weight: 400;
}

/* Animations */
@keyframes animateLinks {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.animate {
    animation: animateLinks 0.5s;
}

/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

html,
body {
    overflow-x: hidden;
    position: relative;
}

.body--fixed {
    position: fixed;
}

/* Utilities */

.spotify-logo {
    filter: brightness(0) invert(1);
    width: 8.9rem;
    height: 2.825rem;
    color: #fff;
}

/* Header */

.header {
    width: 100vw;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 0 1.5rem;
}

.menu__button {
    background-color: transparent;
    border: none;
    z-index: 1;
}

.button--top-bar,
.button--middle-bar,
.button--bottom-bar {
    display: block;
    background-color: #fff;
    border-radius: 1.6rem;
    width: 2.2rem;
    height: 0.3rem;
    margin-bottom: 0.4rem;
    transition: 0.25s;
}

.top-bar--active {
    transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
}

.middle-bar--active {
    opacity: 0;
}

.bottom-bar--active {
    transform: rotate(45deg) translate(-0.5rem, -0.5rem);
}

.header__navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3.8rem;
    max-width: 44.6rem;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #fff;
    transform: translateX(100%);
}

.navbar--mobile {
    transition: transform 0.25s ease-in-out;
}

.navbar--active {
    transform: translateX(0);
    transition: transform 0.25s ease-in-out;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    font-family: 'Circular Bold', Arial, sans-serif;
    list-style: none;
}

.navbar__list li {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.navbar__list li a:hover,
.navbar__list li a:active {
    color: #1ed760;
}

.navbar--top-link {
    color: #fff;
    text-decoration: none;
}

.navbar--border {
    background-color: #fff;
    width: 2rem;
    height: 0.2rem;
    margin-top: 1.8rem;
    margin-bottom: 4rem;
}

.navbar--bottom-link {
    font-size: 2.4rem;
    color: #d9dadc;
    text-decoration: none;
}

/* Main content */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2941ab;
    background-image: url('https://www-growth.scdn.co/static/home/bursts-mobile.svg');
    background-position: center top 40%;
    background-repeat: no-repeat;
    background-size: 215%;
}

.main__section {
    width: 31.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section__title {
    font-family: 'Circular Black', Arial, sans-serif;
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 5.6rem;
    letter-spacing: -0.16rem;
    text-align: center;
    color: #1ed760;
    margin-bottom: 1.6rem;
}

.section__description {
    font-family: 'Circular Book', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
    color: #1ed760;
    margin-bottom: 3.2rem;
}

.section__button {
    width: 18.8rem;
    height: 4.8rem;
    background-color: #1ed760;
    color: #2941ab;
    border: none;
    border-radius: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.section__button div {
    font-family: 'Circular Bold', Arial, sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.section__button:hover {
    transform: scale(1.05);
    background-color: #2de26d;
}

/* Footer */

.footer {
    background-color: #000;
    color: #fff;
    padding: 5rem 1.5rem 2rem 1.5rem;
}

.footer__top-links {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
}

.footer__top-links dl dt {
    font-family: 'Circular Black', Arial, sans-serif;
    font-size: 1.2rem;
    color: #919496;
    text-transform: uppercase;
    letter-spacing: 0.128rem;
    margin-top: 5rem;
    margin-bottom: 2.2rem;
}

.footer__top-links dl dd {
    font-family: 'Circular Book', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
}

.footer__top-links dl dd a {
    color: #fff;
    text-decoration: none;
}

.footer__top-links dl dd a:hover {
    color: #1ed760;
}

.footer__social-icons {
    margin-top: 12rem;
    margin-bottom: 1.5rem;
}

.social-icons__list {
    display: flex;
}

.social-icons__list li {
    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222326;
    border-radius: 50%;
    padding: 1.5rem;
    list-style: none;
    margin-right: 1.5rem;
}

.social-icons__list li a {
    text-decoration: none;
    color: #fff;
}

.social-icons__list li a i {
    font-size: 2.24rem;
}

.social-icons__list li a i:hover,
.social-icons__list li a i:active {
    color: #1ed760;
}

.footer__location {
    font-family: 'Circular Book', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    color: #919496;
}

.footer__location a {
    color: inherit;
    text-decoration: none;
}

.footer__location a:hover,
.footer__location a:active {
    color: #1ed760;
}

.footer__location i {
    font-size: 1.2rem;
    margin-right: 0.8rem;
}

.footer__bottom-links {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.bottom-links__list {
    list-style: none;
    margin-right: 4.5rem;
}

.bottom-links__list li {
    display: inline-block;
    margin-right: 2.4rem;
}

.bottom-links__list li a {
    display: inline-block;
    font-family: 'Circular Book', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
    color: #919496;
    margin: 1rem 0;
}

.bottom-links__list li a:hover,
.bottom-links__list li a:active {
    color: #1ed760;
}

.footer__copyright {
    font-family: 'Circular Book', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    margin-top: 1rem;
    color: #919496;
}
